<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/links/<%= session[:message] %>/add_comment" method="post">
      <input type="text" id="textboxid" name="comment">
      <input type="submit" value="Submit">
  </body>
</html>
