<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/links/<%= @link.id %>/comments" method="post">
      <textarea name="text">
      </textarea>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
