<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
    <% @links.each do |link| %>
    <li id="link-<%= link.id %>">
         <a href="<%= link.url %>">
        <%= link.title %></a></li>
      <% end %>
    </ul>
    <a href="/new-link">Add New Link</a>
  </body>
</html>
