<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% @links.each do |link| %>
        <li> <%= link %></li>
      <% end %>
    </ul>

  </body>
</html>
