<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <form action="/links/<%= @link.id %>/update" method="post">
    <label for="url">URL</label>
    <input type="text" name="edit_url" value="<%= @link.url %>"/>
    <label for="title">Title</label>
    <input type="text" name="edit_title" value="<%= @link.title %>"/>
    <input type="submit" value="Submit" />
  </form>
  </body>
</html>
